@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
header{
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 80px;
    background: #efefef;
    /* width:90vw; */
    box-shadow:8px 6px 25px rgba(0,0,0,0.5);
    font-family: 'Montserrat', sans-serif;
    /* position:sticky;
    z-index: 123;
    top:0; */
}
.right{
    /* border:2px solid #000; */
}
.right ul{
    list-style-type: none;
}
.right ul li {
    display:inline-block;

}
.right ul li a{
    position:relative;
    padding:15px;
    text-decoration: none;
    color:#1a1a1a;
    font-size:1.2rem;
}
.right ul li a::after{
    content:""; 
    border-bottom: 3px solid green;
    display:flex;
    position:absolute;
    width: 0%;
    transition: all ease 0.5s;
    padding-bottom: 8px;
    align-items: center;


}
.right ul li a:hover::after{
    width:100%;

}
.right ul li a:hover{
    color:green;
}
#active::after{
    border-bottom:2px solid green;
    width: 60%;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    left:50%;
    right:50%;
    transform: translate(-60%, -50%);
    
}
#active{
    color:green;
    position: relative;
}
/* responsive header and navbar */
@media (max-width: 1027px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* overflow: hidden; */
        justify-content:center;
        
    }
    ul li a {
        display:block;
        width:100%;
    }
   .feature{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
   }
}

/* Hero section */
.hero{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.499), rgba(0, 0, 75, 0.73)),
    url("shopping.jpg");
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    
}
.explore{
    border:1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    background:white;
    width:15%;
    cursor:pointer;
    font-size: 2rem;
    transition: all ease 0.5s;
    position:relative;
    text-align:center;
    padding:10px;
    z-index: 3;

}
.hero h2{
    
}
:hover{
    /* background:orange; */
}
.explore::after{
    content: "`";
    display: none;
    background: orange;
    bottom: -1px;
    top: 0px;
    padding: 10px;
    display: block;
    width: 0%;
    text-align: center;
    /* z-index: 2; */
    /* right: 40%; */
    position: absolute;
    left: 0px;
    transition: width ease-in-out 0.5s;
    opacity: 0;

}
.explore:hover::after{
    width: 100%;
    opacity:1;
    /* display: none; */
    z-index: -1;
}
.kartnepal{
    font-size: 5rem;
    color:gold;
}
h2::first-letter{
    font-size: 200%;
}
@media (max-width:1240px){
    .explore{
        display: block;
        width:20%;
        font-size: 16px;
    }
}
@media (max-width:484px){
    .hero{
        display:block;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;

        text-align:center;
    }
    .explore{
        display:block;
        display:flex;
        align-items: center;
        justify-content:center;
        width:50%;

        
    }
    header{
        display: block;
    }
}
.images {
    width:200px;
    
    padding:24px 16px; 
    text-align: center;
    box-shadow: 20px 24px 25px white;
    border:2px solid black;
    object-fit: cover;
    margin-bottom: 24px;
    
}
.images img{
    width:100%; 
}
.feature{
    padding:30px 50px;
    display:flex;
    /* align-items: center; */
    justify-content:space-around;
}
.online{
    margin-top:56px;
}
.images:nth-child(1) h3{
    /* color:red; */
    display:block;
    /* height:20px; */
    background-color: #cdebbc;
}
.images:nth-child(2) h3{
    background-color:#efefef;
}
.images:nth-child(3) h3{
    background: #eac3c3;
}
.images:nth-child(4) h3{
    background: rgba(40,50,80,0.5);
    margin-top:4rem;
}
.clothes {
    width:100vw;
    margin-top: 1.25rem;
    /* padding-left:0px;
    margin-right:10px; */
    /* gap: 1; */
    display: flex;
/*     border: 2px solid red; */
    /* margin-left:18px; */
    justify-content: space-around;
    /* margin: 0 auto; */

    align-items:center;
    justify-content:space-around;
}
.cloth img{
    width:300px;

}
.new{
    /* margin:0; */
    /* margin-bottom: 1.2rem; */
    padding:0;  
}
.cloth:nth-child(4) h3{
    margin-top: 18px;
}
.new h2{
    margin-bottom: 2rem;
    /* border-bottom: 3px soli
d red; */
    /* display: block; */
    position: relative;
}
.new h2::after{
    
    content: "";
    display:block;
    left:50%;
    right:50%;
    width:20%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(71, 71, 82);
}
.cloth{

    text-align: center;
    border: 2px solid black;
    box-shadow: 6px 8px 20px black;
}
a{
    text-decoration:none;
}
.cloth:nth-child(1) h3{
    margin-top:14px;
}
.cloth:nth-child(3) h3{
    margin-top: 18px;
}
@media (max-width:450px){
    .new{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0px ;
        /* width: 50%; */
    }
    .cloth i{
        display:flex;
        flex-direction: row;
        /* border:2px solid red; */
        display: inline;
        /* width:100%; */
    }
    .new img{
        width:180px;
    }
    .clothes{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }
}
@media (max-width:1311px){
    .clothes{
        display: flex;
        /* mar:25px 10px; */
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:100%;
    }
    .cloth{
        margin:20px 10px;
    }
}
